{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Space Social!</h1>
    <h2>The best community for all things on outer space!</h2>
    <h2>Login or Sign-up for free to get started!</h2>
    <p>Perhaps, as some wit remarked, the best proof that there is Intelligent Life in Outer Space is the fact it hasn't come here. Well, it can't hide forever - one day we will overhear it. Our passionate preoccupation with the sky, the stars, and a God somewhere in outer space is a homing impulse.</p>


{% endblock %}
